*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	/* background: url(https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
	background-color: #580030;
	background-position: center;
	background-size: cover;
	height: 105vh;
}

.brand-bar{
	height: 30vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-content: center;
}

.main-brand {
	font-size: 90px;
	color: #580030;
	font-family: 'Dancing Script', cursive;
	margin-top: 5vh;
}

.main-brand:hover{
	color: #580030;
}

.sub-brand{
	font-size: 30px;
	text-align: center;
	color: #BC7D74;
	font-family: 'Dancing Script', cursive;
}

/* Creating the Navbar */

.nav-container{
	justify-content: center;
	align-items: center;
	display: flex;
}

.navbar{
	height: 30vh;
	width: 50vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbar-item > a:hover{
	color: rgba(242, 206, 184, 0.253);
}

.navbar-item{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	color: #F2CEB8;
	text-align: center;
}

.navbar-item > a{
	color: #F2CEB8;
}

.title-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-container > div{
    width: 50vw;
}

.title{
    font-size: 70px;
	color: #F2CEB8;
	font-family: 'Dancing Script', cursive;
	margin-top: 20vh;
}

.section1{
    height: 200vh;
}

.section1-content{
	height: 80vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section1-div{
	width: 40vw;
	background: #878AA9;
	height: 60vh;
	transition: .5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
}

.section1-div:hover{
	background: rgba(35, 143, 231, 0.527)
}

.section1-icon {
	font-size: 30px;
	margin-bottom: 20px;
	padding: 10px;
	background: lightgray;
	border-radius: 50%;
}

.article-title{
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	text-align: center;
	color: #F2CEB8;
}

.article-content{
    font-family: 'Lato', sans-serif;
    text-align: center;
	font-size: 20px;
	color: white;
	padding: 0 5vw;
}


/* footer */

.footer{
    background: #878AA9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media > li {
    color: #580030;
    padding: 28px 20px;
}

.social-media{
    margin-left: 70px;
    list-style: none;
	display: flex;
}

.footer-icon{
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;

}

.footer-icon-link{
	color: #580030;
}

.footer-icon-link:hover{
	color: white;
}

.footer-icon:hover{
	color: white;
	background-color: #580030;
}


@media only screen and (max-width: 576px){
	/* section 1 */

	.section1-header{
		height: 10vh;
	}
	.section1{
		height: 410vh;
	}

	.section1-div{
		width: 30vw;
	}

	.section1-div:hover{
		background-color: #878AA9;
	}

	/* footer */
	.social-media{
		margin: auto;
	}
}

@media only screen and (min-width: 577px) and (max-width: 992px){
	/* header */

	.header{
		height: 100vh;
	}

	.brand-bar{
		height: 20vh;
	}
	/* section 1 */

	.section1-header{
		height: 10vh;
	}

	.section1{
		height: 280vh;
	}

	.section1-content{
		height: 40vh;
	}

	.section1-div{
		width: 30vw;
		height: 40vh;
	}

	.section1-div:hover{
		background-color: #878AA9;
	}

	/* footer */
	.social-media{
		margin: auto;
	}
}